<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"	
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	
		<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">World In Numbers</title>
		<meta name="description" content=""/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		 <link rel="stylesheet" type="text/css" 
            th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css"
        	th:href="@{/css/toastr.min.css}" />
        <link rel="stylesheet" type="text/css"
        	th:href="@{/css/flag-icon.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="stylesheet" type="text/css" 
        	th:href="@{/css/font-awesome.min.css}" />
        
	</head>
 
   <body>
	   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#">WORLD IN NUMBERS</a>
			<div class="collapse navbar-collapse" id="navbarColor01">
			    <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/countries}">Countries</a>
			      	</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="content">
				<div layout:fragment="page_content">
							  
				</div>
	
			</div>
		</div>
		
		<div class="modal" id="worldModal" >
		</div>
		<footer id="footer"></footer>
		<!-- /.container -->
		
		<script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.validate.min.js}"></script>
        <script th:src="@{/js/additional-methods.min.js}"></script>
        <script th:src="@{/js/jquery.form.min.js}"></script>
        <script th:src="@{/js/toastr.min.js}"></script>
        <script th:src="@{/js/mustache.min.js}"></script>
        <script th:src="@{/js/underscore-min.js}"></script>
        <script th:src="@{/js/numeral.min.js}"></script>
        <script th:src="@{/js/bootpag.js}"></script>
        <script type="text/javascript" th:src="@{/js/loader.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootlint.min.js}"></script>
        <script th:src="@{/js/jquery.serializejson.min.js}"></script>
		<th:block layout:fragment="scripts">
			<!--script_block-->
		</th:block>
	</body>
	
</html>
 
